<header class="header">
  <div class="logo-container">
    <div class="logo">
      <a routerLink="/home">
        <img src="assets/img/logo.png" alt="Logo">
      </a>
    </div>
  </div>
  
    <nav class="nav">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/products">Products</a>
      <a routerLink="/details">Details</a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="login()">Iniciar sesión</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </nav>
</header>

