@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


.menu{
    background: radial-gradient(#fff,#c7c7f5);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }