<section class="categories">
    <div class="category-grid">
      <a routerLink="/products?category=1"><img src="assets/img/category1.jpg" alt="Categoría 1"></a>
      <a routerLink="/products?category=1"><img src="assets/img/category2.jpg" alt="Categoría 2"></a>
      <a routerLink="/products?category=1"><img src="assets/img/category3.jpg" alt="Categoría 3"></a>
      <a routerLink="/products?category=1"><img src="assets/img/category4.jpg" alt="Categoría 4"></a>
      <a routerLink="/products?category=1"><img src="assets/img/category5.jpg" alt="Categoría 5"></a>
      <a routerLink="/products?category=1"><img src="assets/img/category7.png" alt="Categoría 6"></a>
    </div>
  </section>
